*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: inkfree;
    src: url(fonts/Inkfree.ttf);
}
@font-face {
    font-family: immortal;
    src: url(fonts/IMMORTAL.ttf);
}

body{
    background-color: #cfc3a6;
    color: #412624;
    text-align: center;
}

/******************************** Header ********************************/
header{
    font-family: inkfree;
    font-weight: 500;
    font-size: x-large;

    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    margin: auto;
    padding: auto;


    background-color: #baaa80;
    border-bottom: 3px solid #412624;
    z-index: 100000;
    }

/******************************** nav ********************************/
nav{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
}

nav a{
    color: #412624;
    text-decoration: none;

}

/******************************** main ********************************/
main{
    margin: auto;
    min-width: 60%;
    max-width: 70%;
    margin-top: 120px;
}

.description{
        margin: auto;
        width: 60%;
        text-align: center;
        font-family: 'Author', sans-serif;
        font-size: 18pt; 
        margin-top: 20px;
        margin-bottom: 60px;

}
a{
    color: #412624;
    text-decoration: none;

}

/******************************** kort ********************************/
h1{
    margin-top: 100px;
    font-family: immortal;
    letter-spacing: 4px;
    font-weight: 100;
}

.kort{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    
}
.kort h3{
    font-family: immortal;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 16pt;
    padding-top: 15px;
    
    
}

.kort p{
    padding-left:10px;
    padding-right: 10px;
}
.kort section{
    background-color:#baaa80;
    width: 300px;
    height: 400px;
    text-align: center;
    font-family: 'Author', sans-serif;
    font-size: 14pt; 
/*spørg om hjælp til padding og image så der kommer padding uden billedet bevæger sig ********************************/
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.38);


    
    transition: all 1s;

}
.kort section:hover{
    transform: scale(1.05);
}

.placeholder{
    width: 300px;
    height: 200px;
    background-color: beige;
    margin-bottom: 10px;
    box-sizing: initial;

}



/******************************** Landing ********************************/
#myVideo{
    width: 100%;   
    border-bottom: #85c445 solid 5px;
    
}

.bgpic{
    width: 100%;   
    border-bottom: #85c445 solid 5px;
}

#lillemellemrum{
    padding: 0;
    margin: 0;
}
.content{
    position: absolute;
    top: 60%;
    color: #85c445;
    width: 100%;
    font-weight: 900;
    font-size: 24pt;
}
.content h2{
    font-family: 'Author', sans-serif;
    font-size: 24pt;
    font-weight: 400;
}
.gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 833px;
    max-height:1050px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.71) 0%, rgba(0,0,0,0) 66%);
}
.smallgd{
    min-height: 816px;
    max-height: 1026px;
}

button{
    border: none;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 21px;

    text-align: center;
    text-decoration: none;

    font-family: 'Author', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    
    cursor: pointer;
    background-color: #85c445;

    margin-top: 20px;

    animation: jump-shaking 2s linear 0s 2;
}
/******************************** article ********************************/
article{
    width: 60%;
    position: absolute;
    top: 500px;
    left: 20%;

    margin: auto;
    


    background-color: #baaa80;
    border-top-left-radius: 145px;
    border-top-right-radius: 145px;
    padding-bottom: 50px;
    font-family: 'Author', sans-serif;

    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.38);
    
}

article h1 {
    width: 70%;
    margin: auto;
    padding-top: 100px;
    font-size: 24pt;
}

article h2 {
    width: 57%;
    margin: auto;
    text-align: left;
    font-family: immortal;
    margin-top: 25px;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 16pt;
}

article h3 {
    text-align: left;
    width: 57%;
    margin: auto;
    margin-top:25px;
}

article p {
    width: 57%;
    margin: auto;
    text-align: left;
    font-size: 14pt;
}
article img {
    margin-top: 25px;
    margin-bottom: 25px;
}
article a{
    text-decoration: underline;
}

#articlefooter1{
    position: absolute;
    top: 3790px;
    left: 0%;
    width: 100%;
}
#articlefooter2{
    position: absolute;
    top: 3050px;
    left: 0%;
    width: 100%;
}

#articlefooter3{
    position: absolute;
    top: 4375px;
    left: 0%;
    width: 100%;
}

/******************************** footer ********************************/
footer{
height: 40px;
background-color:#412624;
color: #cfc3a6;
align-items: center;
justify-content: center;
display: flex;
}


/******************************** dropdown menu ********************************/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: -3px;
    left:-31px;
    

    background-color: #baaa80;
    border: #412624 solid 3px;
    width: 160px;
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.38);

    opacity: 0;
    transition: opacity 300ms ease;
}
.one {
    position: absolute;
    top: -3px;
    left:-17px;
}
.two {
    position: absolute;
    top: -3px;
    left:-26px;
}
.three {
    position: absolute;
    top: -3px;
    left: -10px;
}

.dropdown-content a {
    display: block;
    text-align: center;
    color: #412624;
    text-decoration: none;
    border-bottom: #897665 solid 2px;
}
.dropdown-content a:hover {
    background-color: #ac9e7f;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    z-index: 9990;
}


/******************************** Animations ********************************/

@keyframes jump-shaking {
    0% { transform: translateX(0) }
    15% { transform: translateY(-4px) }
    30% { transform: translateY(-4px) rotate(8deg) }
    45% { transform: translateY(-4px) rotate(-8deg) }
    60% { transform: translateY(-4px) rotate(8deg) }
    75% { transform: translateY(-4px) rotate(-8deg) }
    100% { transform: translateY(0) rotate(0) }
}